a.out
aclocal.m4
compile
depcomp
install-sh
ar-lib
missing
configure
config.log
config.guess
config.sub
config.status
.dirstamp
Makefile
Makefile.in
autom4te.cache
autoscan.log
config.status
configure.scan
include/config.h
include/config.h.in
include/config.h.in~
include/stamp-h1
.deps
test-suite.log
test-driver
test_simbpf
*.o
src/simbpf
src/libsb.a
src/grammar.c
src/grammar.h
src/lexicon.c
src/lexicon.h
ylwrap
core
test/*.sh.log
test/*.sh.trs
