a.out
aclocal.m4
compile
depcomp
install-sh
missing
configure
config.log
config.status
.dirstamp
Makefile
Makefile.in
autom4te.cache
autoscan.log
config.status
configure.scan
include/config.h
include/config.h.in
include/config.h.in~
include/stamp-h1
.deps
test-suite.log
test_simbpf
test_simbpf.log
test_simbpf.trs
test_simbpf.sh.trs
test_simbpf.sh.log
*.o
src/simbpf
src/grammar.c
src/grammar.h
src/lexicon.c
ylwrap
core
